[Unit]
Description=Daemon for exposing an attached SHT35 sensor via Pyro.
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/env python3.5 -u /usr/local/bin/sht35d
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
